.App {
  text-align: center;
}

header {
  background-color: white;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  padding: 10px;
  margin: 0 10px;
  /* margin between boxes */
  width: 150px;
  /* or any suitable width */
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* space below the boxes */
}

.expense-page-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  margin: 0 auto;
  background-color: white;
}

.statement-title {
  background-color: #3b5998;
  color: white;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}
